.legend-container {
  display: flex;
  padding: 5px 15px;
  border-radius: 2px;
  width: max-content;
  padding-right: 30px;
  padding-bottom: 15px;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(47, 64, 80, 0.8);
  box-shadow: 1px 3px 7px 2px rgba(47, 64, 80, 0.2);
}

.legend-title-container {
  padding: 8px;
  border-bottom: 2px solid rgba(47, 64, 80, 0.1);
}

.legend-title {
  font-size: 16px;
  color: "#c2c2c2";
  font-weight: 300;
  margin-left: 8px;
}

.legend-container p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
.legend-container p strong {
  font-weight: 500;
}

.legend-container svg {
  height: 20px;
  max-width: 70px;
}

.icon-style {
  width: 20px;
  height: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-box-center-vertically {
  justify-content: center;
  align-items: center;
}
.tooltip {
  text-align: left;
  position: relative;
  display: inline-block;
}

.tooltip h3 {
  margin: 12px 0;
}

.tooltip .left {
  top: 50%;
  right: 100%;
  color: #fff;
  font-size: 13px;
  min-width: 125px;
  min-height: 50px;
  z-index: 99999999;
  margin-right: 20px;
  border-radius: 8px;
  display: none;
  position: absolute;
  font-weight: normal;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  transform: translate(0, -50%);
  -webkit-box-sizing: border-box;
  -webkit-transform: translate(0, -50%);
}

.tooltip:hover .left {
  display: block;
}

.tooltip:hover .top {
  display: block;
}

.tooltip .top {
  left: 50%;
  top: -20px;
  color: #fff;
  display: none;
  font-size: 13px;
  min-width: 125px;
  min-height: 50px;
  z-index: 99999999;
  position: absolute;
  text-align: center;
  border-radius: 8px;
  font-weight: normal;
  box-sizing: border-box;
  background-color: black;
  transform: translate(0, -50%);
  -webkit-box-sizing: border-box;
  transform: translate(-30%, -100%);
  -webkit-transform: translate(-30%, -100%);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.tooltip .left i {
  top: 50%;
  left: 100%;
  width: 12px;
  height: 24px;
  overflow: hidden;
  margin-top: -12px;
  position: absolute;
}

.tooltip .top i {
  top: 100%;
  left: 30%;
  width: 30px;
  height: 15px;
  overflow: hidden;
  position: absolute;
  margin-left: -15px;
}

.tooltip .left i::after {
  left: 0;
  top: 50%;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #000;
  border: 1px solid #000;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tooltip .top i::after {
  left: 50%;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #000;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%) rotate(45deg);
}
